# =========================
# Python / FastAPI
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Python build / packaging
build/
dist/
*.egg-info/

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Databases / Mongo
# =========================
data/
dump/

# =========================
# Testing / Coverage
# =========================
.coverage
pytest_cache/
htmlcov/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
